services:
  # adminer
  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - db_net

# db_net network has already created by any database service
networks:
  db_net:
    external: false
    name: db_net