services:
  # Database postgres:16.3
  db_16:
    image: postgres:16.3-alpine
    container_name: pgsql_db16
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root_password
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: test_db
    ports:
      - '5416:5432'
    volumes:
      - "./data/pgdata:/var/lib/postgresql/data/pgdata"
      - "./etc/pgsql/postgresql.conf:/var/lib/pgsql/data/postgresql.conf"
    networks:
      - db_net

networks:
  db_net:
    external: false
    name: db_net