services:
# phpMyAdmin
  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    ports:
      - 8081:80
    restart: unless-stopped
    environment:
      PMA_HOSTS: db_84, db_57
    networks:
      - db_net

# db_net network has already created by any database service
networks:
  db_net:
    external: true
